@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-hsl: 240 5% 15%;
    --foreground-hsl: 0 0% 98%;
    --card-hsl: 240 5% 12%;
    --card-foreground-hsl: 0 0% 98%;
    --popover-hsl: 240 6% 9%;
    --popover-foreground-hsl: 0 0% 98%;
    --primary-hsl: 158 44% 55%;
    --primary-foreground-hsl: 158 44% 95%;
    --secondary-hsl: 240 3.7% 15.9%;
    --secondary-foreground-hsl: 0 0% 98%;
    --muted-hsl: 240 3.7% 15.9%;
    --muted-foreground-hsl: 240 5% 64.9%;
    --accent-hsl: 240 3.7% 15.9%;
    --accent-foreground-hsl: 0 0% 98%;
    --destructive-hsl: 0 62.8% 30.6%;
    --destructive-foreground-hsl: 0 0% 98%;
    --border-hsl: 240 3.7% 40%;
    --input-hsl: 240 3.7% 15.9%;
    --ring-hsl: 158 44% 55%;
    --cacamba-foreground-hsl: 0 0% 98%;
    --accent-price-hsl: 38 95% 55%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background-hsl));
    color: hsl(var(--foreground-hsl));
  }
}


@media print {
  body {
    background: white !important;
    color: black !important;
  }
  #printable-ticket-body, #scale-calculator-printable-area {
    h1, h2, h3, h4, div, label, input, span, p, th, td {
      color: black !important;
    }
    input {
      border: 1px solid #ccc !important;
      background: #f9f9f9 !important;
    }
  }
}
