@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 6% 50%;
    --foreground: 0 0% 98%;
    --card: 220 6% 90%;
    --card-foreground: 220 6% 14%;
    --popover: 220 6% 90%;
    --popover-foreground: 220 6% 14%;
    --primary: 158 30% 45%;
    --primary-foreground: 158 44% 95%;
    --secondary: 220 6% 90%;
    --secondary-foreground: 220 6% 14%;
    --muted: 220 6% 90%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 220 6% 90%;
    --accent-foreground: 220 6% 14%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border-silver: 0 0% 75%;
    --border: var(--border-silver);
    --input: var(--border-silver);
    --ring: 158 44% 55%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    
    --accent-price: 38 95% 55%;

    --sidebar-background: 220 6% 16%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 158 44% 55%;
    --sidebar-primary-foreground: 158 44% 95%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 158-44-55;
  }

  .dark {
    --background: 220 6% 14%;
    --foreground: 0 0% 98%;
    --card: 220 6% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 220 6% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 158 44% 55%;
    --primary-foreground: 158 44% 95%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border-silver: 0 0% 75%;
    --border: var(--border-silver);
    --input: var(--border-silver);
    --ring: 158 44% 55%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --accent-price: 38 95% 55%;

    --sidebar-background: 220 6% 16%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 158 44% 55%;
    --sidebar-primary-foreground: 158 44% 95%;
    --sidebar-accent: 220 6% 11%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 158-44-55;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  input:not(:placeholder-shown) {
    @apply bg-white text-black;
  }
}


@media print {
  body {
    background: white !important;
    color: black !important;
  }
  #printable-ticket-body, #scale-calculator-printable-area {
    h1, h2, h3, h4, div, label, input, span, p, th, td {
      color: black !important;
    }
    input {
      border: 1px solid #ccc !important;
      background: #f9f9f9 !important;
    }
  }
}
